{
  "ConnectionStrings": {
    "Default": "Server=;Port=;Database=;User Id=;Password=;SslMode=None"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*"
}